@charset "UTF-8";
.layout-main>section {
    padding: 1rem;
    background: #999551;
    color: white;
    width:100%;
}

input[type=date],
select {
    padding: 8px 22px;
    margin: 10px 0;
    display: inline-block;
}

h3{
    text-align: center;
    font-size: 30px;
}

.layout-main>section>table{
 margin-left: 20%;
}