@charset "UTF-8";
.layout-main>section {
    padding: 1rem;
    background: #999551;
    color: white;
}

input[type=text],input[type=email]
 {
    padding: 8px 22px;
    margin: 10px 0;
    display: inline-block;
}


textarea
 {
    padding: 20px 15px;
    margin: 20px 0;
    display: inline-block;
}  

span {
    font-size: 20px;
    font-family: 'sofia';
} 

fieldset{
    margin-top:20px;
} 

button
{
    margin-top:20px;
} 

#title{
    font-family: 'sofia';	
    text-align: center;
} 