@charset "UTF-8";
@font-face {
    font-family: 'sofia';
    src: url(../font/PrincessSofia-Regular.ttf);
}

html {
    height: 100%;
}

body {
    background: lightgray;
    display: flex;
    color: white;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#scroll{
    margin-left: 95%;
}
.black-navbar {
    background-color: #343a40;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.layout-main {
    background: white;
    flex-grow: 1;
    padding: 1rem;
}

.layout-aside {
    background: #343a40;
    padding: 2rem;
}

.layout-aside>div {
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    height: 200px;
    color: white;
    margin-bottom: 5cm;
}

.layout-aside>div:not(:first-child) {
    margin-top: 1rem;
    text-align: center;
}

.layout-aside>ul {
    color: white;
    width: 100%;
    font-size: 20px;
    font-family: 'sofia';
    margin-bottom: 10cm;
}

.layout-aside>ol {
    color: white;
    width: 100%;
    font-size: 20px;
    font-family: 'sofia';
}

.layout-footer {
    background: #343a40;
    font-size: 0.75rem;
    color: white;
}

.layout-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layout-footer li {
    padding: 0.75rem;
}

@media screen and (max-width: 599px) {
    .layout-main-aside-box {
        flex-direction: column;
    }
    .layout-footer li {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .layout-main-aside-box {
        display: flex;
        flex-grow: 1;
    }
    .layout-main {
        display: flex;
        flex-direction: column;
    }
    .layout-aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .layout-footer ul {
        display: flex;
        justify-content: center;
    }
}