﻿<!DOCTYPE html>
<html lang="es" data-page="page-@ViewBag.PageName" class="@ViewBag.PageName">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="icon" href="/Content/img/favicon.png" type="image/png" />

    <title>@ViewBag.Title - Loto Hotel</title>

    <link href="/Content/css/general.css" rel="stylesheet" media="screen" />
    <link href="/Content/css/layout.css" rel="stylesheet" media="screen" />
    <script src="/Content/js/script.js"></script>
    <script src="Content/js/script.js"></script>

</head>

<body>
    <div class="black-navbar">
        <nav>
            <table>
                <tbody>
                    <tr>
                        <td><a href="/Index">Inicio</a></td>
                    </tr>
                    <tr>
                        <td><a href="/Hotel">Hoteles</a></td>
                    </tr>
                    <tr>
                        <td><a href="/Contact">Contacto</a></td>
                    </tr>
                    <tr>
                        <td><a href="/About">¿Quienes somos?</a></td>
                    </tr>
                </tbody>
            </table>
        </nav>
    </div>

    <div class="layout-main-aside-box">
        <main class="layout-main">
           @RenderBody()
        </main>

        <aside class="layout-aside">

            <div>
                CAROUSEL
            </div>

            <div>
                CAROUSEL
            </div>

            <ul>
                <li>Primer item</li>
                <li>Segon item</li>
                <li>Tercer item</li>
            </ul>

            <ol>
                <li>Primer item</li>
                <li>Segon item</li>
                <li>Tercer item</li>
            </ol>

        </aside>
    </div>

    <footer class="layout-footer">
        <nav>
            <ul>
                <li>
                    <a href="/PersonalDataUsage">Política de privacidad</a> y <a href="/CookieUsage">
                        Política de
                        Cookies
                    </a>
                </li>
            </ul>
        </nav>
    </footer>

</body>

</html>