﻿<!DOCTYPE html>
<html lang="es" data-page="about" class="page-about">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="icon" href="img/favicon.png" type="image/png" />

    <title>Projecte Alex Casanova- Eric Alves</title>

    <link href="./../private/page/about/css/style.css" rel="stylesheet" media="screen" />
    <link href="./css/layout.css" rel="stylesheet" media="screen" />
    <script src="./../private/page/about/js/script.js"></script>
    <script src="./../private/shared/js/script.js"></script>

</head>

<body>
    <div class="black-navbar">
        <nav>
            <table>
                <tbody>
                    <tr>
                        <td><a href="index.html">Inicio</a></td>
                    </tr>
                    <tr>
                        <td><a href="hotel.html">Hoteles</a></td>
                    </tr>
                    <tr>
                        <td><a href="contact.html">Contacto</a></td>
                    </tr>
                    <tr>
                        <td><a href="about.html">¿Quienes somos?</a></td>
                    </tr>
                </tbody>
            </table>
        </nav>
    </div>

    <div class="layout-main-aside-box">
        <main class="layout-main">
           @RenderBody()
        </main>

        <aside class="layout-aside">

            <div>
                CAROUSEL
            </div>

            <div>
                CAROUSEL
            </div>

            <ul>
                <li>Primer item</li>
                <li>Segon item</li>
                <li>Tercer item</li>
            </ul>

            <ol>
                <li>Primer item</li>
                <li>Segon item</li>
                <li>Tercer item</li>
            </ol>

        </aside>
    </div>

    <footer class="layout-footer">
        <nav>
            <ul>
                <li>
                    <a href="personalDataUsage.html">Política de privacidad</a> y <a href="cookieUsage.html">
                        Política de
                        Cookies
                    </a>
                </li>
            </ul>
        </nav>
    </footer>

</body>

</html>