@charset "UTF-8";
.layout-main>section {
    padding: 1rem;
    background: #999551;
    color: white;
    width: 100%;
}

form {
    width: 50%;
    text-align: center;
}

select,
input[type=date] {
    padding: 8px 22px;
    margin: 10px 40px;
    display: inline-block;
}

button {
    margin-top: 20px;
}

#comments {
    margin-left: 5%;
    font-size: 15px;
    padding: 30px 55px;
    margin-bottom: 1cm;
    margin-top: 1cm;
    border-spacing: 30px;
}

#comments>thead>tr>th {
    font-size: 20px;
    font-style: italic;
}

#comments>tbody>tr>td {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 3cm;
}