@charset "UTF-8";
@font-face {
    font-family: 'sofia';
    src: url(./../../../../public/font/PrincessSofia-Regular.ttf);
}

.tituloHotel {
    font-family: 'sofia';
    padding: 1rem;
    background: #999551;
    color: white;
    text-align: center;
}

.layout-main-footimg {
    text-align: center;
    width: 80%;
    height: auto;
    margin: auto;
}

.layout-main>section {
    padding: 1rem;
    background: #999551;
    color: white;
}

.img {
    text-align: center;
    width: 100%;
    height: auto;
    border: solid #343a40 12px;
}

.message {
    padding: 1rem;
    background: #999551;
    color: white;
}